@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<link href="~/Content/css/user/about_us.css" rel="stylesheet" />


<div id="story-container">
    <div class="story">
        <div class="story-1">
            <h2>Câu chuyện về đam mê cái đẹp của <br> Everlove Cosmetics</h2> <br />
            <p>Là một thương hiệu trong ngành làm đẹp, Everlove Cosmetics luôn hướng tới cái đẹp, sự chăm chút tỉ mỉ nhất tới chị em phụ nữ. Đam mê cái đẹp của Everlove Cosmetics được thể hiện ở hai phương diện. Thứ nhất, Everlove Cosmetics luôn cố gắng mang tới những sản phẩm có hình thức đẹp nhất tới người tiêu dùng. Thứ hai, đó là đam mê làm đẹp cho chị em phụ nữ với những sản phẩm làm đẹp chất lượng nhất.</p> <br />
            <p>Với mỗi sản phẩm của mình, Everlove Cosmetics luôn cố gắng chăm chút sản phẩm từ những điều nhỏ nhất. Từ kiểu dáng nhỏ gọn, thiết kế tiện lợi đến màu sắc ánh vàng sang trọng. Mọi thứ đều được những con người của Everlove Cosmetics tận tâm nghiên cứu và hoàn thiện tốt nhất. Như bạn có thể thấy, các sản phẩm của Everlove Cosmetics đều rất tỉ mỉ từ ngoại hình đến cách sử dụng. Mọi thiết kế từ vỏ chai hay vòi nhấn đều hài hòa cũng như thuận tiện cho khách hàng.</p> <br />

            <h2>Thích sự hoàn mỹ</h2> <br />
            <p>Everlove Cosmetics ra đời là khởi nguồn của sự tận tâm mang đến vẻ đẹp hoàn mỹ cho mỗi người. Đó là khẳng định đến từ những người đã dày công ấp ủ và phát triển Everlove Cosmetics. Mỗi chúng ta không ai là hoàn hảo tuyệt đối. Nhưng mỗi người luôn hướng tới sự cải thiện và phát triển bản thân tốt nhất. Everlove Cosmetics cũng vậy, những con người của Everlove luôn cố gắng để thương hiệu hoàn thiện nhất trong mắt người tiêu dùng.</p> <br />
            <p>Điều này thể hiện rõ nhất ở việc Everlove Cosmetics luôn cố gắng để hoàn thiện bộ sản phẩm của mình. Mọi sự thiếu sót đều dẫn tới sự bất tiện. Như việc một thương hiệu mỹ phẩm bạn thích nhưng lại không đầy đủ một bộ sản phẩm. Bạn phải kết hợp nó với một thương hiệu khác. Và có thể sự kết hợp không phù hợp dẫn tới hiệu quả không như ý. Thấu hiểu những bất tiện đó, Everlove đang ngày một hoàn thiện bộ sản phẩm của mình. Mang đến cho khách hàng bộ sản phẩm hoàn mỹ nhất.</p> <br />
            <p>Bởi yêu thích những nét đẹp đó mà Everlove Cosmetics ra đời cùng sứ mệnh chăm sóc sắc đẹp cho chị em phụ nữ. Những vấn đề mà làn da gặp phải, những khuyết điểm của da khiến chị em thiếu tự tin. Everlove Cosmetics thấu hiểu và đưa ra những giải pháp tốt nhất để giải quyết những vấn đề đó. Giúp mang lại vẻ đẹp hoàn mỹ nhất cho khách hàng của mình.</p> <br />

        </div>

        <div class="img-story1" >
            <img src="~/Content/img/vechungtoi.jpg" width="800px" ,height="700px">
        </div>

    </div>

    <div class="clicktobuy-btn">
        <div class="content1">
            <a href="~/Products/ProductList" class="story-button">
                <span class="button-text">
                    <b>Cửa hàng</b>
                </span>
            </a>
        </div>
    </div>

</div>
