@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}
<link href="~/Content/css/user/index.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Avenir+Light" rel="stylesheet">
<body style="background-color: #fff8f1 ;">

    <div id="banner">
        <div class="box-left ">
            <br>
            <br>
            <br>
            <h2 style="text-align: right; color: #301f1f; font-weight: bold; font-family: 'Nunito', sans-serif; font-size: 40px">
                CÙNG EVERLOVE SỐNG XANH MỖI NGÀY

            </h2>


            <p style="font-size: 30px; color: #4e3a3a; font-family: 'Nunito', sans-serif; font-weight: bold ">
                *Chương trình Đổi vỏ chai cũ nhận sản phẩm mới*
            </p>
            <button style="width: 191px; height: 40px; margin-top: 41px; background: #ffffff; border: none; outline: none; color: #000000; font-weight: bold; border-radius: 20px; transition: 0.4s; font-size: 20px; text-decoration: none; color: black;">
                <a href="~/Home/Songxanh" style=" text-decoration: none; color: black;">Tìm hiểu thêm</a>
            </button>
        </div>
    </div>

    <div id="sidebar" class="rotate">
        <div style="font-weight: bolder; text-align: left; font-size: large; justify-content: center; align-items: center; text-align: center; background-color: #fff8f1; font-family: 'Nunito', sans-serif;padding-right:10em">
            <br>
            <br />
            <br>
            <br />
            <br>
            <br />
            <h2 style="font-family: 'Nunito', sans-serif; font-size: 30px">Triết lý THƯƠNG HIỆU</h2>
            <br /><br />
            <div style="color: #808080; text-align: center; background-color: #fff8f1; font-family: 'Nunito', sans-serif; font-weight: 300; font-size: 20px">
                Là những người yêu thiên nhiên và đam mê
            </div>
            <div style="color: #808080; text-align: center; background-color: #fff8f1; font-family: 'Nunito', sans-serif; font-weight: 300; font-size: 20px">
                khám phá các nguồn nguyên liệu đặc hữu của Việt Nam,
            </div>
            <div style="color: #808080; text-align: center; background-color: #fff8f1; font-family: 'Nunito', sans-serif; font-weight: 300; font-size: 20px">
                chúng tôi luôn kiên định với những triết lý
            </div>
            <div style="color: #808080; text-align: center; background-color: #fff8f1; font-family: 'Nunito', sans-serif; font-weight: 300; font-size: 20px">
                trên hành trình tìm vẻ đẹp thật sự của làn da.
            </div>


        </div>

    </div>
    <div style="background-color: #fff8f1;padding-left:10em;">
        <div>
            <img class="mySlides" src="https://cocoonvietnam.com/_nuxt/img/footer-image.5d68be7.jpg">
            <img class="mySlides" src="https://dep.com.vn/wp-content/uploads/2020/09/cocoon-final-1.jpg">
            <img class="mySlides" src="https://toplist.vn/images/800px/my-pham-thuan-chay-cocoon-622381.jpg">
            <img class=" mySlides" src="https://www.elle.vn/wp-content/uploads/2021/03/25/428996/cocoon-thuan-chay-5.jpg">
            <img class=" mySlides" src="https://www.elle.vn/wp-content/uploads/2021/03/25/428996/cocoon-thuan-chay-4-1.jpg">
            <img class=" mySlides" src="https://myphamthuanchay.com/data/upload_file/Image/thuong-hieu-cocoon/tatcacacsanphamcocoon.jpg">
            <img class=" mySlides" src="https://dep.com.vn/wp-content/uploads/2020/09/cocoon-final-3.jpg">
        </div>
    </div>

    <div id="wp-products" style="background-color: #E0BE9A; color: #29130d;font-size:30px">
        <h2 style="font-family: 'Nunito', sans-serif"> NEW ARRIVAL</h2>
    </div>
    <div id="div-pro-list" style="background-color: #E0BE9A;  ">
        <div class="box-pro">
            <img src="~/Content/img/ttbccaphe.jpg" class="size-img" />
            <div class="box-description">
                <p class="margin-des" style="font-family: 'Nunito', sans-serif; color: #29130d; font-size: 20px">Tẩy tế bào chết cà phê</p>
                <p class="margin-des" style="font-family: 'Nunito', sans-serif; color: #29130d; font-size: 20px">250,000đ</p>
            </div>
        </div>

        <div class="box-pro">
            <img src="~/Content/img/2bidao.jpg" class="size-img" />
            <div class="box-description">
                <p class="margin-des" style="font-family: 'Nunito', sans-serif; color: #29130d; font-size: 20px">Combo bí đao</p>
                <p class="margin-des" style="font-family: 'Nunito', sans-serif; color: #29130d; font-size: 20px">590,000đ</p>
            </div>
        </div>
        <div class="box-pro">
            <img src="~/Content/img/combophuchoi.png" class="size-img" />
            <div class="box-description">
                <p class="margin-des" style="font-family: 'Nunito', sans-serif; color: #29130d; font-size: 20px">Combo phục hồi tóc hư tổn </p>
                <p class="margin-des" style="font-family: 'Nunito', sans-serif; color: #29130d; font-size: 20px">285,000đ</p>
            </div>
        </div>
        <div class="box-pro">
            <img src="~/Content/img/bodysangmin.png" class="size-img" />
            <div class="box-description">
                <p class="margin-des" style="font-family: 'Nunito', sans-serif; color: #29130d; font-size: 20px">Combo body sáng mịn sạch mụn</p>
                <p class="margin-des" style="font-family: 'Nunito', sans-serif; color: #29130d; font-size: 20px">361,000đ</p>
            </div>
        </div>
    </div>


    <marquee style="height: 100px; font-size: 70px; font-weight: bold; color: #29130d; background-color: #fff8f1; font-family: 'Nunito', sans-serif; padding-top: 0.4em;">

        MỸ PHẨM 100% THUẦN CHAY CHO NÉT ĐẸP THUẦN VIỆT

    </marquee>






    <div id="banner_2" style="background-color: #E0BE9A; ">
        <div class="box-left ">
            <br>
            <br>
            <br>
            <h2 style="text-align: center; color: #ffffff; font-size: 35px; font-family: 'Nunito', sans-serif">NGĂN GÃY RỤNG &  </h2>
            <h2 style="text-align: center; color: #ffffff; font-size: 35px; font-family: 'Nunito', sans-serif">TĂNG SỰ PHÁT TRIỂN  </h2>
            <h2 style="text-align: center; color: #ffffff; font-size: 35px; font-family: 'Nunito', sans-serif">CỦA MÁI TÓC  </h2>
            <br>
            <br>
            <p style="font-size: 25px; color: #ffffff; font-family: 'Nunito', sans-serif; font-weight: 300;">
                Nuôi dưỡng mái tóc gãy rụng hiệu quả và tiết kiệm ngay từ bước gội đầu bằng công thức
                làm sạch không sulface
            </p>
            <button style="width: 191px; height: 40px; margin-top: 41px; background-color: #fff8f1; border: none;
          outline: none; color: #000000; font-weight: bold; border-radius: 20px; transition: 0.4s; font-family: 'Nunito', sans-serif;font-size:20px">
                Tìm hiểu thêm
            </button>
        </div>
    </div>

    <br>
    <br />
    <br>
    <div>
        <br>
        <br />
        <h2 style="background-color: #E0BE9A; font-family: 'Nunito', sans-serif"> "Everlove Cosmetics"</h2>
    </div>


    <div class="grid-img" style="background-color: #E0BE9A;padding-left:6em;">
        <img src="https://image.cocoonvietnam.com/uploads/296207711_184515993943928_5824954043182965817_n_0658c83233.jpg" alt="" width="300" height="300" class="alignnone size-medium wp-image-1255" />
        <img src="https://image.cocoonvietnam.com/uploads/299376253_461508525838333_5788579834312377044_n_0c7973fc96.jpg" alt="" width="300" height="300" class="alignnone size-medium wp-image-1255" />
        <img src="https://image.cocoonvietnam.com/uploads/275389687_635887391009039_6457281175282440252_n_ec82a242d8.jpg" alt="" width="300" height="300" class="alignnone size-medium wp-image-1255" />
        <img src="https://image.cocoonvietnam.com/uploads/290175186_512392150676622_4363250952904369404_n_6d849a02b1.jpg" alt="" width="300" height="300" class="alignnone size-medium wp-image-1255" />
        <img src="https://media.hasaki.vn/hsk/review-my-pham-cocoon-35.jpg" alt="" width="300" height="300" class="alignnone size-medium wp-image-1255" />
        <img src="https://img.sosanhgia.com/images/7a16fb5eb31d4230b7d4b3530743b7ec/review-10-san-pham-cocoon-dang-duoc-yeu-thich-nhat-hien-nay.jpg" alt="" width="300" height="300" class="alignnone size-medium wp-image-1255" />
    </div>

    <br>
    <br />
    <br>
    <br />
    <div style="font-size: 30px; height: 200px; background-color: #fff8f1">
        <p style="color: #8e7d60; font-style: oblique; text-align: center; font-family: 'Nunito', sans-serif">
            "Everlove Cosmetics - Từ mầm xanh làm đẹp đến giải thưởng danh giá
            tại "
        </p>
        <p style="color: #8e7d60; font-style: oblique; text-align: center; font-family: 'Nunito', sans-serif">
            ELLE Beauty Awards 2021"
        </p>
        <p style="text-align: center; font-family: 'Nunito', sans-serif">ELLE VIETNAM</p>
    </div>


    <div style="background-color: #E0BE9A">
        <br />
        <br />
        <h2 style=" color: #29130d; font-family: 'Nunito', sans-serif;text-align:center"> CHỨNG NHẬN BỞI CÁC TỔ CHỨC QUỐC TẾ</h2>
    </div>

    <div id="div-pro-list" style="background-color: #E0BE9A;padding-left:4em;padding-right:4em;">
        <div class="box-pro">
            <img src="https://image.cocoonvietnam.com/uploads/leaping_bunny_bdcbdfe9f1.svg" class="sizeimg" />
            <div class="box-description">
                <p class="margin-des" style="font-family: 'Nunito', sans-serif; ">  Leaping Bunny</p>
                <p class="margin-des" style="font-family: 'Nunito', sans-serif; "> CHƯƠNG TRÌNH LEAPING BUNNY</p>


            </div>
        </div>

        <div class="box-pro">
            <img src="https://image.cocoonvietnam.com/uploads/vegan_society_41cc2b390a.svg" class="sizeimg" />
            <div class="box-description">
                <p class="margin-des" style="font-family: 'Nunito', sans-serif; ">The Vegan Society</p>
                <p class="margin-des" style="font-family: 'Nunito', sans-serif;  ">HIỆP HỘI CHUẨN CHAY QUỐC TẾ</p>

            </div>
        </div>
        <div class="box-pro">
            <img src="https://image.cocoonvietnam.com/uploads/e3084968637945bfc13699f3682f28a6_24f04f4362.svg" class="sizeimg" />
            <div class="box-description">
                <p class="margin-des" style="font-family: 'Nunito', sans-serif;   ">PETA</p>
                <p class="margin-des" style="font-family: 'Nunito', sans-serif;   ">ANIMAL TEST-FREE & VEGAN</p>

            </div>
        </div>

    </div>




</body>







<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 2000); // 2 giây
    }
</script>

