
@{
    ViewBag.Title = "Songxanh";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<link href="~/Content/css/user/songxanh.css" rel="stylesheet" />

<body style="font-family: 'Nunito', sans-serif; background-color: #e3d9d1">
    <div id="story-container">
        <img class="full-screen-image" src="~/Content/img/songxanh.jpg" alt="Full Screen Image">

        <div class="container5">
            <div class="left-side">
                <h1 style=" font-family: 'Nunito', sans-serif;">Cùng EverLove sống xanh mỗi ngày: Điểm Xanh Online</h1>
            </div>
            <div class="right-side">
                <p style=" font-family: 'Nunito', sans-serif;">
                    Tiếp tục lan tỏa các “thông điệp xanh” hướng đến Mẹ Trái Đất, nhân rộng phạm vi chương trình đổi vỏ chai cũ và đáp ứng mong mỏi của rất nhiều quý khách hàng về chương trình này, bắt đầu từ ngày 02/06/2021, EverLove sẽ áp dụng thêm hình thức đổi vỏ chai online. Chúng tôi gọi đó là "Điểm Xanh Online".
                    Từ đây, dù bạn ở bất cứ nơi đâu tại Việt Nam thì đều có thể tham gia đổi vỏ chai cùng EverLove.
                </p>
            </div>
        </div>

        <div class="quotation-table">
            <p style=" font-family: 'Nunito', sans-serif;">
                Đội ngũ EverLove đã sẵn sàng nhận vỏ chai cũ từ các bạn và trao đi các sản phẩm mới.
                Hãy nhanh chóng đăng ký tham gia chương trình đổi vỏ online và giúp chúng tôi chia sẻ thông tin đến nhiều người hơn nữa nhé!
            </p>
        </div>
        <div style="text-align: center; font-size: 30px; margin: 20px auto; border: 4px solid #ccc; padding: 40px; text-align: center; width: 40%;">
            <p style=" font-family: 'Nunito', sans-serif;">Quy trình tham gia đổi vỏ chai online theo 2 bước sau:</p>
            <p style=" font-family: 'Nunito', sans-serif;">
                • Bước 2: Đóng gói, ghi rõ họ tên, thông tin của bạn trên kiện hàng và gửi vỏ chai/hũ rỗng đến văn phòng EverLove

                theo địa chỉ: EverLove Vietnam – 457 nguyễn Đình Chiểu, Phường 5, Quận 3, TP. HCM - Điện thoại: 028 38328228
            </p>
            <p style=" font-family: 'Nunito', sans-serif;">• Bước 3: EverLove sẽ xác nhận và gửi sản phẩm mới qua đường chuyển phát</p>
        </div>
        <img class="image-3x4" src="~/Content/img/songxanh3.jpg" alt="3x4 Image">
        <div style="text-align: center; font-size: 30px; margin: 20px auto; border: 4px solid #ccc; padding: 40px; text-align: center; width: 40%; font-family: 'Nunito', sans-serif;">
            <p>
                Tùy theo số lượng vỏ chai cũ, bạn sẽ đổi được các sản phẩm mới như sau:


            </p>
            <p> • Với 10 vỏ chai (hũ, tuýp, lọ, túi refill...) bất kỳ của EverLove (không bao gồm bao bì dạng thỏi son và sản phẩm dùng thử), bạn đổi được 1 trong 6 sản phẩm sau:</p>
            <p>1. Cà phê Đắk Lắk làm sạch da chết cơ thể 200ml giá 125.000đ</p>
            <p>2. Cà phê Đắk Lắk làm sạch da chết mặt 150ml giá 165.000đ</p>
            <p>3. Nước dưỡng tóc tinh dầu bưởi 140ml giá 165.000đ</p>
            <p>4. Gel bí đao rửa mặt 140ml giá 195.000đ</p>
            <p>5. Sữa rửa mặt nghệ Hưng yên 140ml giá 195.000đ</p>
            <p>6. Gel rửa mặt hoa hồng 140ml giá 195.000đ</p>


            <p>• Với 5 vỏ chai (hũ, tuýp, lọ, túi refill...) bất kỳ của EverLove (không bao gồm bao bì dạng thỏi son và sản phẩm dùng thử), bạn đổi được 1 Cà phê Đắk Lắk làm sạch da chết môi giá 75.000đ.</p>
        </div>


        <div class="clicktobuy-btn1">
            <div class="content11">
                <a href="~/Products/ProductList" class="story-button1">
                    <span class="button-text1">
                        <b> Cửa hàng</b>
                    </span>
                </a>
            </div>
        </div>

    </div>
</body>
