/* cartegory*/
.grid {
    /* width: 1200px; */
    max-width: 100%;
    margin: 0 20px;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.grid-column-2 {
    padding-left: 12px;
    padding-right: 12px;
    /* (100/12)*2 */
    width: 16.6667%;
}

.grid-column-2-4 {
    padding-left: 10px;
    padding-right: 10px;
    margin: 8px 0;
    /* (100/12)*2 */
    width: 25%;
    display: flex;
    /*border: 1px solid black;*/
}

.grid-column-10 {
    padding-left: 12px;
    padding-right: 12px;
    /* (100/12)*10 */
    width: 83.3334%;
}


/* container */
.item-container {
    background-color: whitesmoke;
}

.item-content {
    padding: 36px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.category {
    background-color: white;
    border-radius: 2px;
}

.category-heading i {
    font-size: 16px;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

.category-heading {
    font-size: 18px;
    padding: 8px 16px;
    padding-top: 16px;
    border-bottom: 1px solid lightgrey;
}

.category-list {
    /* (top-right-bottom-left) */
    padding: 2px 0 8px 0;
    margin-left: 20px;
}
/* .category-item{
 
} */
.category-item-link a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
}

.category-item-link:hover {
    color: #F56606;
}

.filler {
    background-color: rgba(0,0,0,0.04);
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-radius: 2px;
}

.home-filler-lable {
    font-size: 14px;
    margin-right: 6px;
}

.home-filler-text {
    margin-right: 8px;
    min-width: 80px;
}

.home-filler-btn {
    min-width: 90px;
    min-height: 25px;
    margin-right: 20px;
}

/* product item */
.product-item {
    background-color: white;
    margin-top: 10px;
}

    .product-item:hover {
        transform: translateY(-1px);
        z-index: 1;
    }

    .product-item p {
        font-size: 14px;
        padding: 0 20px;
        line-height: 1.8rem;
        height: 3.6rem;
        margin: 10px 10px 6px;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

.product-item-img {
    width: 241px;
    height: 241px;
    margin: 0 30px 0 25px;
}

.product-item-name {
    font-size: 17px;
    font-weight: 400;
    color: black;
    padding: 10px 30px 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.product-item-price {
    display: flex;
    margin-left: 40px;
    align-items: baseline;
    flex-wrap: wrap;
}

.product-item-price-old {
    font-size: 12px;
    color: #666;
    text-decoration: line-through;
}

.product-item-price-current {
    color: rgba(255, 68, 0, 0.852);
    font-size: 18px;
    margin-left: 6px;
    margin-top: 2px;
}

.button1 {
    padding: 10px 40px;
    display: flex;
}

.detail-button {
    height: 30px;
    width: 90px;
    padding: 0 10px;
    margin-right: 25px;
    cursor: pointer;
}

.cart-button {
    height: 30px;
    padding: 0 10px;
    width: 90px;
    cursor: pointer;
}
