/*Product page*/
#div-pro-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: none;
    font-family: 'Nunito', sans-serif;
    color: #312020;
}

.box-pro {
    height: 330px;
    width: 280px;
}

.box-pro2 {
    height: 200px;
    width: 150px;
}

.box-pro2 {
    margin: auto;
    margin-top: 10px;
    background-color: none;
}


.size-img {
    height: 220px;
    width: 150px;
    margin-left: 20px;
    margin-top: 10px;
}

.box-description {
    height: 60px;
    width: 180px;
    background-color: none;
    margin-left: 20px;
    margin-top: 10px;
}

.margin-des {
    margin-left: 10px;
    padding-top: 5px;
    font-weight: 800;
}

.box-pro {
    margin: auto;
    margin-top: 10px;
    background-color: none;
}
