* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*html {
    font-family: 'Lora', serif;
}
*/
#story-main {
    min-height: 100vh;
}



#slider-story {
    width: 100%;
    height: 650px;
    margin-top: 60px;
    background: linear-gradient(rgba(32, 32, 32, 0.4),rgba(35, 35, 35, 0.4)),url('../image/sanpham5.jpg');
    background-position: center;
    background-size: cover;
}


.image {
    margin-top: 60px;
    width: 100%;
    background-color: aquamarine;
}

    .image img {
        display: flex;
        align-items: center;
        justify-content: center;
    }


#story-container {
    min-height: max-content;
    background-color: #e3d9d1;
}


.story {
    width: 100%;
    display: flex;
    margin: 50px 40px;
    text-align: justify;
    padding: 50px 50px;
    margin: 0;
    /* font-size: 15px; */
}

.story-1 {
    width: 60%;
    margin-right: 100px;
    height: fit-content;
    padding: 0 40px;
    line-height: 1.5;
    margin-top: 40px;
    font-family: 'Times New Roman';
}

.img-story1 {
    width: 40%;
}

    .img-story1 img {
        margin-top: 100px;
    }

.story-1 h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 1.5;
    /* letter-spacing: 0.5; */
    font-size: 25px;
}

.story-1 p {
    font-size: 16px;
}

.clicktobuy-btn {
    width: 100%;
    height: 80px;
    background-color: #e3d9d1;
}

    .clicktobuy-btn .content1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        background-color: #fff9ed;
        border: 1px solid rgb(57, 50, 50);
        border-radius: 30px;
        height: 50px;
        width: 150px;
    }

    .clicktobuy-btn a {
        text-decoration: none;
        color: black;
    }

    .clicktobuy-btn span {
        line-height: 40px;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
    }
