* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mySlides {
    display: none;
    width: 600px;
}

#banner {
    width: 100%;
    background-image: url('../../img/vochai.jpg');
    height: 463px;
    margin-top: 40px;
    display: flex;
    padding: 0px 133px;
    position: relative;
}

    #banner.box-left {
        width: 50%;
        text-align: center;
    }

.box-left button {
    width: 191px;
    height: 40px;
    margin-top: 41px;
    background: #000000;
    border: none;
    outline: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.4s;
}


.box-right {
    padding-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

    .box-right img {
        margin: 0px 10px;
        animation: animation 3s infinite linear;
        width: 20%;
    }

#banner.box-right img:nth-child(1) {
    animation-delay: 0.5s;
}

#banner.box-right img:nth-child(2) {
    animation-delay: 1s;
}

@keyframes animation {
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translate(-10px);
    }

    100% {
        transform: translate(0px);
    }
}

#wp-products {
    padding-top: 116px;
    padding-bottom: 78px;
    padding-left: 134px;
    padding-right: 134px;
    text-align: center;
    color: #b78368;
}
/*Product page*/
#div-pro-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    font-family: 'Nunito', sans-serif;
}

.box-pro {
    height: 400px;
    width: 300px;
}

.box-pro2 {
    height: 200px;
    width: 150px;
}

.box-pro2 {
    margin: auto;
    margin-top: 10px;
    background-color: none;
}


.size-img {
    height: 220px;
    width: 170px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 16px;
}

.box-description {
    height: 60px;
    width: 180px;
    background-color: none;
    margin-left: 20px;
    margin-top: 10px;
}

.margin-des {
    margin-left: 10px;
    padding-top: 5px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
}

.box-pro {
    margin: auto;
    margin-top: 10px;
    background-color: none;
}
/*Product page*/
/*SIDEBAR*/
#sidebar {
    width: 600px;
    height: 20%;
    float: right;
    text-align: center;
    font-size: small;
    background-position: initial;
}

#sidebar2 {
    width: 700px;
    height: 100%;
    float: inherit;
    font-size: small;
}
/*SIDEBAR*/

/*Chứng nhận*/
#div-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    font-family: 'Nunito', sans-serif;
}

.boxpro {
    height: 600px;
    width: 300px;
}

.boxpro2 {
    height: 300px;
    width: 150px;
}

.boxpro2 {
    margin: auto;
    margin-top: 10px;
    background-color: none;
}


.sizeimg {
    height: 250px;
    width: 200px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 6px
}

.boxdescription {
    height: 100px;
    width: 180px;
    background-color: none;
    margin-left: 20px;
    margin-top: 10px;
}

.margindes {
    margin-left: 10px;
    padding-top: 5px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
}

.margindes2 {
    color: #29130d;
    height: 300px;
    width: 180px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.boxpro {
    margin: auto;
    margin-top: 10px;
    background-color: none;
}
/*Chứng nhận*/
/*dau goi buoi*/
#banner_2 {
    width: 100%;
    background-image: url('../../img/daugoibuoi2.png');
    height: 463px;
    margin-top: 40px;
    display: flex;
    padding: 0px 133px;
    position: relative;
}
/*dau goi buoi*/
/*Lưới hình ảnh*/
.grid-img {
    column-count: 3; /* Số cột */
    column-gap: 10px; /* Khoảng cách giữa các cột */
    text-align: center;
}

    .grid-img img {
        display: grid;
        grid-template-rows: 1fr auto;
        margin-bottom: 15px;
        break-inside: avoid;
        border-radius: 16px;
    }
/*Lưới hình ảnh*/
