@model IEnumerable<demo2_mp.Models.Product>

@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<link href="~/Content/css/user/product.css" rel="stylesheet" />
<body style="background-color: #fff8f1 ;">
    <div class="grid">
        <div class="grid-row">
            @*<div>
                <h2 style="text-align:center;padding-top:30px"></h2>
            </div>*@

            <div class="grid-column-2">
                <div class="category">
                    @{ Html.RenderAction("CategoryPartial", "Categories");}
                </div>
            </div>

            <div class="grid-column-10">
                @using (Html.BeginForm("ProductList", "Products", FormMethod.Get))
                {
                    <div class="filler">
                        <span class="home-filler-lable">Tên sản phẩm</span>
                        <input class="home-filler-text" type="text" name="SearchString">
                        <button class="home-filler-btn">Tìm kiếm</button>
                        <span class="home-filler-lable">Đơn giá từ</span>
                        <input class="home-filler-text" type="text" name="min">
                        <span class="home-filler-lable">Đến</span>
                        <input class="home-filler-text" type="text" name="max">
                        <button class="home-filler-btn">Tìm giá</button>
                    </div>
                }
                <div id="div-pro-list">

                    @foreach (var pro in Model)
                    {
                        <div class="box-pro">

                            <div class="box-description">
                                <a href="/Products/ChitietSP/@pro.ProductID">
                                    <img src="~/Content/img/@pro.ImagePro" class="size-img" />
                                    <p class="margin-des">@Html.DisplayFor(model => pro.NamePro)</p>
                                    <p class="margin-des">@Html.DisplayFor(model => pro.Price)</p>
                                </a>

                            </div>
                        </div>

                    }

                </div>
            </div>   
        </div>
    </div>
</body>


